html {
  background: url('texture.png') center center fixed;
  background-size: 75%;
  display: flex;
  flex-direction: column;
  width: 100%; height: 100%;
}

body {
  flex-grow: 1;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

nav a {
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  line-height: 3.5em;
  background: rgba(0, 0, 0, 0.1);

  text-decoration: none;
  color: #888;
  padding: 0 1em;
  font-family: 'montserrat';
  font-weight: bold;
  text-align: center;
}

nav a:last-child {
  border-right: 4px solid #333;
}

nav a:first-child {
  border-left: 4px solid #333;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.0);
}

main {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#loan {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowrap;
  width: 35em; height: 35em;

  box-shadow: 0 0 15px;
  border-radius: 2px;
  background: #FFF;
}

#loan img {
  width: 20em;
  display: block;
  border-radius: 50%;
}

#loan h1 {
  color: rgba(50, 50, 50, 0.7);
  font-size: 2em;
  font-family: 'Source Sans Pro';
  text-align: center;
  margin: 0;
}

#loan address {
  margin-top: 3em;
  width: inherit;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 0.9em;
}

#loan a {
  font-family: "myriad pro regular";
  color: rgba(50, 182, 152, 1);
  padding: 0 1em;
}

#loan a:hover {
  opacity: 0.7;
}
